// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

main {
  min-height: calc(100vh - 100px);
}

// タイトル部分
.pageTitle {
  background: #5bc8ac;
  height: 80px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  h1 {
    flex: 1;
    line-height: 80px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 0;
    margin: 0;
  }
  .search-form {
    position:relative;
    width:150px;	
    height: 35px;
    .search-input {
      height:100%;
      width: 100%;
      padding:0 35px 0 10px; 
      outline: none;
      border: none;
      border-radius: 5px;
      background:#eee;	
    }
    .search-btn {
      position:absolute;
      top: 58%;
      right: 0;
      background:none;
      color:#666;
      border:none;
      font-size:20px;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
    }
    .search-btn:hover{
    color:#7fbfff;
    }
  }
  .back-link {
    list-style: none;
    margin: 0;
    padding: 5px 10px;
    background: #fff;
    border-radius: 5px;
    li {
      a {
        text-decoration: none;
      }
    }
  }
}

// セッションメッセージ部分
.session-msg {
  margin: 0;
  text-align: center;
  color: #299177;
  font-weight: bold;
}

// エラーメッセージ部分
.error-msg {
  margin: 0;
  text-align: center;
  background: rgba(255, 0, 0, 0.089);
  color: #e2264d;
  font-weight: bold;
}

// ログイン・新規登録画面
.loginPage, .registerPage {
  .form-contena {
    width: 320px;
    margin: 50px auto 0;
    .form-items {
      position: relative;
      .icon {
        position: absolute;
        top: 14px;
        left: 11px;
        color: #3490dc;
      }
      input {
        padding-left: 33px;
      }
      input:not(:focus) {
        opacity: 0.5;
      }
    }
    .testUser {
      width: 300px;
      margin: 10px auto 0;
      text-align: center;
      border: 2px solid #3490dc;
      border-radius: 10px;
      padding: 5px;
      h1 {
        font-size: 15px;
        font-weight: bold;
      }
      p {
        margin: 0;
      }
    }
  }
}

// 投稿一覧画面
.indexPage {
  margin: 80px auto 0;
  width: 70%;
  .message {
    margin: 10px auto 0;
    p {
      padding: 10px 10px;
      background: #eee;
      color: rgb(75, 75, 75);
      text-align: center;
      span {
        color: #333;
        font-weight: bold;
      }
    }
  }
  .card-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 10px;
  }
  .card {
    width: 100%;
  }
  .card-box, .card {
    margin: 10px auto 0;
    .card-item {
      box-shadow: 0 2px 5px rgba(0,0,0,0.26);
      border-radius: 5px;
      min-height: 350px;
      position: relative;
      padding-bottom: 35px;
      .card-header {
        padding: 0;
        height: 37px;
        display: flex;
        justify-content: space-between;
        .user {
          padding: 5px 10px;
          .auth-name {
            display: block;
            text-decoration: none;
            img {
              width: 25px;
              height: 25px;
              object-fit: cover;
              border-radius: 50%;
            }
            span {
              margin-left: 10px;
              font-size: 15px;
            }
          }
        }
        .date {
          text-align: center;
          line-height: 37px;
          color: #aaa;
          margin: 0 5px 0 0;
          font-size: 11px;
        }
      }
      .image {
        display: inline-block;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      .icons {
        margin: 10px 10px 0;
        display: flex;
        justify-content: space-between;
        padding-bottom: 7px;
        border-bottom: 1px solid lightgray;
        .left-icons {
          display: flex;
          .heart {
            padding-right: 10px;
            width: 200px;
            button {
              border: none;
              outline: none;
              background: transparent;
              padding: 0;
              .heart-icon {
                vertical-align: -7%;
                color: #aaa;
              }
              .red-icon {
                animation: heartAnimation .2s;
                color: #e2264d;
              }
              .good {
                color: #aaa;
                padding-left: 5px;
              }
            }
            button.nouser-btn {  
              a {
                text-decoration: none;
              }
            }
          }
          .edit {
            padding-right: 10px;
            .edit-link {
              text-decoration: none;
              display: inline-block;
              .edit-icon {
                vertical-align: baseline;
                color: #aaa;
              }
            }
          }
          .delete {
            form {
              button {
                border: none;
                outline: none;
                background: transparent;
                padding: 0;
                .delete-icon {
                  vertical-align: baseline;
                  color: #aaa;
                }
              }
            }
          }
        }
      }
      .body {
        padding: 0 10px;
        width: 93%;
        margin: 0 auto;
        h1 {
          font-size: 14px;
          font-weight: bold;
          margin: 10px 0 0;
        }
        .content {
          margin-top: 10px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        p {
          font-size: 12px;
          margin: 0;
        }
        .tag-buttons {
          height: 20px;
          margin-top: 5px;
          ul {
            height: 100%;
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            li {
              border: 1px solid lightgray;
              border-radius: 5px;
              text-align: center;
              line-height: 100%;
              padding: 0 3px;
              a {
                text-decoration: none;
                font-size: 11px;
              }
            }
            li:not(:first-of-type) {
              margin-left: 3px;
            }
            li:hover {
              background: #ddd;
            }
          }
        }
      }
      .sub-body {
        border-top: 1px solid lightgray;
        position: absolute;
        display: block;
        bottom: 0;
        margin: 0 10px;
        padding: 5px 0;
        width: calc(100% - 20px);
        a {
          float: right;
          font-size: 12px;
        }
      }
    }
  }
}

// 投稿作成・編集画面
.createPage, .post-editPage {
  .form-contena {
    width: 350px;
    margin: 40px auto 0;
    .form-items {
      input:not(:focus) {
        opacity: 0.5;
      }
    }
    .image-form {
      .form-items {
        width: 260px;
        margin-bottom: 5px;
      }
      .preview {
        max-width: 150px;
        height: auto;
      }
    }
  }
}

// 投稿詳細画面
.showPage {
  .card-box {
    width: 80%;
    margin: 10px auto;
    .card-item {
      width: 100%;
      box-shadow: 0 2px 5px rgba(0,0,0,0.26);
      border-radius: 10px;
      height: auto;
      position: relative;
      padding-bottom: 40px;
      .user {
        padding: 10px 20px;
        .auth-name {
          display: block;
          text-decoration: none;
          img {
            width: 25px;
            height: 25px;
            object-fit: cover;
            border-radius: 50%;
          }
          span {
            margin-left: 10px;
            font-size: 17px;
          }
        }
      }
      .image {
        min-height: 200px;
        img {
          max-width: 100%;
          min-width: 100%;
          height: auto;
        }
      }
      .icons {
        margin: 10px 10px 0;
        display: flex;
        padding-bottom: 10px;
        justify-content: space-between;
        border-bottom: 1px solid lightgray;
        .left-icons {
          display: flex;
          .heart {
            padding-right: 20px;
            button {
              border: none;
              outline: none;
              background: transparent;
              padding: 0;
              .heart-icon {
                vertical-align: -7%;
                color: #aaa;
              }
              .red-icon {
                animation: heartAnimation .2s;
                color: #e2264d;
              }
              .good {
                color: #aaa;
                padding-left: 5px;
              }
            }
          }
          .edit {
            padding-right: 10px;
            .edit-link {
              text-decoration: none;
              display: inline-block;
              .edit-icon {
                vertical-align: baseline;
                color: #aaa;
              }
            }
          }
          .delete {
            form {
              button {
                border: none;
                outline: none;
                background: transparent;
                padding: 0;
                .delete-icon {
                  vertical-align: baseline;
                  color: #aaa;
                }
              }
            }
          }
        }
      }
      .body {
        padding: 0 10px;
        .main-body {
          width: 95%;
          margin: 0 auto;
          p {
            font-size: 13px;
            margin: 0;
          }
          h1 {
            font-size: 15px;
            font-weight: bold;
            padding: 10px 0;
          }
          .tag-buttons {
            height: 25px;
            margin-top: 15px;
            ul {
              height: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              display: flex;
              li {
                border: 1px solid lightgray;
                border-radius: 5px;
                text-align: center;
                line-height: 100%;
                padding: 0 3px;
                a {
                  vertical-align: -30%;
                  text-decoration: none;
                  font-size: 14px;
                }
              }
              li:not(:first-of-type) {
                margin-left: 6px;
              }
              li:hover {
              background: #ddd;
              }
            }
          }
        }
      }
      .sub-body {
        position: absolute;
        bottom: 5px;
        width: 100%;
        padding: 0 10px;
        text-align: right;
        .date {
          margin: 0;
        }
      }
    }

    .comment-area {
      margin-top: 20px;
      width: 100%;
      .comment-box {
        border: 2px solid #4cb5f5;
        border-radius: 15px 15px 0 0;
        .comment-title {
          background: #4cb5f5;
          border-radius: 10px 10px 0 0;
          padding: 20px;
          margin: 0;
          color: #fff;
          font-weight: bold;
        }
        .comment-lists {
          min-height: 300px;
          max-height: 300px;
          border-bottom: 1px solid #4cb5f5;
          padding: 20px;
          overflow-y: scroll;
          .user-comment {
            .user-info {
              display: flex;
              align-items: center;
              img {
                display: inline-block;
                margin-right: 10px;
                width: 30px;
                height: 30px;
                background-position: center center;
                border-radius: 50%;
              }
              .user-secondary {
                p {
                  margin: 0;
                }
                a {
                  color: #333;
                  .user-name {
                    font-size: 14px;
                  }
                }
                .comment-date {
                  font-size: 12px;
                  color: #aaa;
                }
              }
            }
            .main-content {
              position: relative;
              padding: 5px 10px;
              display: inline-block;
              background: #d5e8ec;
              box-shadow: 0 1px 5px rgba(0,0,0,0.26);
              min-width: 40px;
              margin-top: 15px;
              border-radius: 10px;
              font-size: 12px;
            }
            .main-content::before{
              content: '';
              position: absolute;
              left: 10px;
              top: -15px;
              display: block;
              width: 0;
              height: 0;
              border-right: 10px solid transparent;
              border-bottom: 15px solid #d5e8ec;
              border-left: 3px solid transparent;
            }
          }
          .user-comment:not(:first-of-type) {
            margin-top: 10px;
          }
        }
        .comment-form {
          padding: 10px 5px;
          .submit-btn {
            margin: 0;
          }
        }
      }
    }
  }
}

// ユーザー詳細画面
.user-showPage {
  .userShow-contena {
    width: 70%;
    margin: 50px auto 0;
    .profile {
      padding: 0 15vw;
      display: flex;
      align-items: center;
      justify-content: space-around;
      img {
        display: inline-block;
        width : 150px;
        height: 150px;
        border: 1px solid #ddd;
        object-fit: cover;
        border-radius: 50%;
      }
      .profile-secondary {
        margin-left: 20px;
        .sub-content {
          display: flex;
        }
        .user-name {
          margin-bottom: 20px;
          p {
            margin-bottom: 5px;
            margin-left: 8px;
          }
          .name {
            font-weight: bold;
            font-size: 16px;
          }
          .edit-link {
            a {
              text-decoration: none;
              font-size: 11px;
              margin-left: 0;
              padding: 5px;
              color: #333;
              background: #eee;
              border: 1px solid #ddd;
              border-radius: 5px;
            }
          }
          .follow-btn, .unfollow-btn {
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            font-size: 13px;
            display: inline-block;
            border-radius: 25px;
            padding: 4px 10px;
            width: 100px;
          }
          .follow-btn {
            color: #09f;
            border: 1px solid #09f;
            background-color: #fff;
          }
          .unfollow-btn {
            animation: followAnimation .2s;
            color: #fff;
            background-color: #09f;
          }
        }
        .sub-content {
          margin: 10px 0;
          p:not(:first-of-type) {
            margin-left: 15px;
          }
          p {
            a {
              text-decoration: none;
            }
          }
        } 
      }
    }
    .no-posts {
      margin-top: 80px;
      p {
        color: #aaa;
        text-align: center;
        .info-icon {
          vertical-align: -2px;
        }
      }
    }
    .user-post {
      width: 100%;
    }
    .user-posts {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      justify-content: center;
      gap: 10px;
    }
    .user-posts, .user-post {
      margin: 80px auto 0;
      .card-item {
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        padding-bottom: 5px;
        .image {
          width: 100%;
          display: inline-block;
          position: relative;
          img {
            width: 100%;
            height: auto;
          }
          .mask {
            width: 100%;
            height:	100%;
            position:	absolute;
            top: 0;
            left:	0;
            opacity: 0;
            background-color:	rgba(0,0,0,0.4);
            -webkit-transition:	all 0.2s ease;
            transition:	all 0.2s ease;
            .caption {
              height: 100%;
              position: relative;
              p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
                -webkit-transform: translateY(-50%) translateX(-50%);
                text-align: center;
                color: #fff;
                span:not(:first-of-type) {
                  margin-left: 10px;
                }
              }
            }
          }
        }
        .image:hover {
          .mask {
            opacity: 1;
          }
        }
        .body {
          padding: 0 10px;
          h1 {
            font-size: 13px;
            font-weight: bold;
            margin: 10px 0 0;
          }
          p {
            font-size: 11px;
            margin: 0;
          }
          .content {
            margin-top: 5px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .tag-buttons {
            height: 20px;
            margin-top: 5px;
            ul {
              height: 100%;
              padding: 0;
              margin: 0;
              list-style: none;
              display: flex;
              li {
                border: 1px solid lightgray;
                border-radius: 5px;
                text-align: center;
                line-height: 100%;
                padding: 0 3px;
                a {
                  text-decoration: none;
                  font-size: 11px;
                }
              }
              li:not(:first-of-type) {
                margin-left: 3px;
              }
              li:hover {
                background: #ddd;
              }
            }
          }
          .date {
            font-size: 11px;
            color: #aaa;
            margin-top: 10px;
            text-align: right;
          }
        }
      }
    }
  }
}

// プロフィール編集画面
.profile-editPage {
  .form-contena {
    width: 350px;
    margin: 40px auto 0;
    .form-items {
      input:not(:focus) {
        opacity: 0.5;
      }
    }
    .image-form {
      .form-items {
        width: 260px;
      }
      #preview {
        max-width: 100px;
        height: auto;
      }
    }
  }
}

// ユーザー一覧表示画面
.user-indexPage {
  width: 80%;
  margin: 80px auto 0;
  h2 {
    background: #eee;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    span {
      font-size: 17px;
      font-weight: bold;
    }
  }
  .no-posts {
    margin-top: 80px;
    p {
      color: #aaa;
      text-align: center;
      .info-icon {
        vertical-align: -2px;
      }
    }
  }
  .usersCard-box {
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    border-radius: 5px;
    .userCard-item:not(:first-of-type) {
      border-top: 2px solid #ddd;
    }
    .myCard-item {
      background: rgba(0, 153, 255, 0.062);
    }
    .userCard-item {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 10px 5px;
      min-height: 150px;
      .profile-img {
        img {
          width : 80px;
          height: 80px;
          border: 1px solid #ddd;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      .profile-secondary {
        margin-left: 15px;
        .sub-content {
          display: flex;
        }
        .user-name {
          margin-bottom: 20px;
          p {
            margin-bottom: 5px;
            margin-left: 8px;
          }
          .name {
            font-weight: bold;
            font-size: 16px;
          }
          .edit-link {
            a {
              text-decoration: none;
              font-size: 11px;
              margin-left: 0;
              padding: 5px;
              color: #333;
              background: #eee;
              border: 1px solid #ddd;
              border-radius: 5px;
            }
          }
          .follow-btn, .unfollow-btn {
            border: none;
            cursor: pointer;
            outline: none;
            padding: 0;
            appearance: none;
            font-size: 13px;
            display: inline-block;
            border-radius: 25px;
            padding: 4px 10px;
            width: 100px;
          }
          .follow-btn {
            color: #09f;
            border: 1px solid #09f;
            background-color: #fff;
          }
          .unfollow-btn {
            animation: followAnimation .2s;
            color: #fff;
            background-color: #09f;
          }
        }
        .sub-content {
          margin: 10px 0 7px;
          p {
            margin-bottom: 0;
            a {
              text-decoration: none;
            }
          }
          p:not(:first-of-type) {
            margin-left: 15px;
          }
        } 
      }
    }
  }
}

// フッター
footer {
  margin-top: 50px;
  .footer {
    background: #e6d72a;
    height: 50px;
    p {
      font-weight: bold;
      line-height: 50px;
      text-align: center;
      margin: 0;
    }
  }
}

// いいねボタンのアニメーション
@keyframes heartAnimation {
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.5);
  }
  10% {
    transform: scale(0.7);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.2);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
    /* もとのサイズに戻す */
    transform: scale(1.0);
  }
}

// フォローボタンのアニメーション
@keyframes followAnimation {
  0% {
    /* アイコンサイズをもとのより小さくする */
    transform: scale(0.7);
  }
  10% {
    transform: scale(0.8);
  }
  30% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1.0);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    /* もとのサイズに戻す */
    transform: scale(1.0);
  }
}

// レスポンシブ対応-----------------------------------------------------------------------------------------

// 550px〜
@media (min-width:550px) {
  .pageTitle {
    .search-form {
      width:200px;
    }
  }
  .loginPage, .registerPage, .createPage, .post-editPage, .profile-editPage {
    .form-contena {
      width: 500px;
      .image-form {
        display: flex;
      }
    }
  }
}

// 665px〜
@media (min-width:665px) {
  .user-indexPage {
    width: 532px;
  }
}

// 790px〜
@media (min-width:790px) {
  .user-showPage {
    .userShow-contena {
      .user-post {
        width: 553px;
      }
    }
  }
  .indexPage {
    .card {
      width: 553px;
    }
  }
  .user-indexPage {
    .usersCard-box {
      .userCard-item {
        padding: 0 20px;
        .profile-img {
          img {
            width : 100px;
            height: 100px;
          }
        }
        .profile-secondary {
          .user-name {
            display: flex;
          }
          .user-name {
            margin-bottom: 0;
            p {
              margin: 0;
            }
            .edit-link {
              a {
                margin-left: 20px;
              }
            }
            .follow-btn, .unfollow-btn {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}

// 800px〜
@media (min-width:800px) {
  .showPage {
    .card-box {
      display: flex;
      justify-content: space-between;
      .card-item {
        width: 60%;
      }
      .comment-area {
        width: 35%;
        margin-top: 0;
      }
    }
  }
}

// 970px〜
@media (min-width:970px) {
  .user-showPage {
    .userShow-contena {
      .profile {
        .profile-secondary {
          .user-name {
            display: flex;
          }
          .user-name {
            margin-bottom: 0;
            p {
              margin: 0;
            }
            .edit-link {
              a {
                margin-left: 20px;
              }
            }
            .follow-btn, .unfollow-btn {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}