header {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

header .container {
  background: #e6d72a;
  height: 50px;
  min-width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-size: 22px;
}

header .container h1 a {
  color: #333;
  text-decoration: none;
}

header .container .subLink-left,
header .container .subLink-right {
  display: none;
}

header .container .mobile-menu {
  position: absolute;
  right: 5%;
  top: 50%;
  height: 30px;
  width: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

header .container .mobile-menu .menu {
  width: 100%;
  height: 100%;
  position: relative;
}

header .container .mobile-menu .menu a {
  display: block;
  padding: 15px;
  text-decoration: none;
}

header .container .mobile-menu .menu label {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 0 4px 0;
  line-height: 1;
  color: #333;
  background: #f8f6e6;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .mobile-menu .menu input {
  display: none;
}

header .container .mobile-menu .menu ul {
  width: 450%;
  border-radius: 5px;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  list-style: none;
  position: absolute;
  right: 0;
}

header .container .mobile-menu .menu ul li {
  height: 0;
  overflow: hidden;
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .mobile-menu .menu #menu_bar01:checked ~ #links01 {
  border: 1px solid #ddd;
}

header .container .mobile-menu .menu #menu_bar01:checked ~ #links01 li {
  height: 30px;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container .mobile-menu .menu #menu_bar01:checked ~ #links01 li:not(:first-of-type) {
  border-top: 1px solid #ddd;
}

@media (min-width: 750px) {
  header .container .subLink-left,
  header .container .subLink-right {
    display: block;
  }

  header .container .subLink-left ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }

  header .container .subLink-left ul li {
    margin: 0 0 0 15px;
    font-size: 12px;
    background: #f8f6e6;
    padding: 5px 10px;
    border-radius: 5px;
  }

  header .container .subLink-left ul li a {
    text-decoration: none;
  }

  header .container .subLink-left ul li:hover {
    opacity: 0.8;
  }

  header .container .subLink-right ul {
    list-style: none;
    margin: 0;
    display: flex;
  }

  header .container .subLink-right ul li {
    margin: 0 0 0 15px;
    font-size: 12px;
    background: #f8f6e6;
    padding: 5px 10px;
    border-radius: 5px;
  }

  header .container .subLink-right ul li a {
    text-decoration: none;
  }

  header .container .subLink-right ul li:hover {
    opacity: 0.8;
  }

  header .container .menu {
    display: none;
  }
}

